input {
    border-color:plum;
    border-radius: 25px;
}
input[type = checkbox] {
    border-radius: 30px;
}
select {
    border-radius: 25px;
}
option {
    border-radius: 25px;
}
h1 {
    text-align: center;
}
.form-container {
    align-items: center;
}
body {
    background-image: url("images/background_image.png");
    text-align: center;
}
a {
    text-align: center;
}
button {
    border-color: plum;
    border-radius: 25px;
}