input[type = text] {
    border-color:plum;
    border-radius: 25px;
}
input[type = password] {
    border-color:plum;
    border-radius: 25px;
}
input[type = submit] {
    border-color:plum;
    border-radius: 25px;
}
input[type = checkbox] {
    text-align: right;
    border-radius: 30px;
}
h1 {
    text-align: center;
}
form {
    text-align: center;
}
body {
    background-image: url("images/background_image.png");
}
a {
    text-align: center;
}
button {
    border-color: plum;
    border-radius: 25px;
}